<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="84f0900f-a632-45e4-b811-c7349d3929da" name="pradeep.yazas Agreeable Hedgehog" alias="pradeep-yazas-agreeable-hedgehog" type="Starter" color="" url="https://www.s1.umbraco.io/project/pradeep-yazas-agreeable-hedgehog">
  <environment type="live" name="Live" id="d2dd642a-1580-45c3-8017-17c75eb89391">https://pradeep-yazas-agreeable-hedgehog.s1.umbraco.io</environment>
</environments>